body {
    background-color: #4B7399;
    font-family: Verdana, Helvetica, Arial;
    font-size: 14px;
}

.header_wrapper {
    width: 980px;
    margin: 0 auto;
    overflow:hidden;
    padding:20px 0;
}

#login_user_status {
    float:right;
}

#login_user_status a {
    text-decoration: none;
    color: #fff;
}

.links a {
    text-decoration: none;
    color: #4B7399;
}

a img {
    border: none;
}

.logo a{
    color: #fff;
    float: left;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
    text-decoration:none;
}

a {
    text-decoration: none;
    color: #4B7399;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

#container {
    width: 900px;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error, #flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
}

.fieldWithErrors {
    display: inline;
}

.error_messages {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    font-size: 12px;
}

.error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
}

.error_messages p {
    margin: 8px 10px;
}

.error_messages ul {
    margin: 0;
}

.head h1{
    color: #4B7399;
    font-size: 30px;
}

.head h3, .head h2 {
    color: #4B7399;
}

.asset_list_header, .asset_list, .asset_details {
    width:800px;
    font-weight:bold;
    font-size:12px;
    overflow:hidden;

}

.asset_list_header_profile, .asset_list_profile {
    font-weight:bold;
    font-size:12px;
    overflow:hidden;
}

.file_name_header, .file_name {
    width:425px;
    float:left;
    padding-left:20px;
}

.file_name_profile, .file_name_header_profile {
    width:350px;
    float:left;
    padding-left:20px;
}

.file_size_header, .file_size {
    width:100px;
    float:left;
}
.file_last_updated_header, .file_last_updated {
    width:150px;
    float:left;
}
.asset_list {
    padding:20px 0;
}

.asset_list_profile {
    padding:20px 0;
}

.asset_details {
    font-weight:normal;
    height:25px;
    line-height:25px;
    border:1px solid #FFF;
    width:790px;
    color:#4F4F4F;
}


.asset_details a, .asset_details a:visited {
    text-decoration:none;
    color: #666666;
    font-size:12px;
}

#menu {
    width:800px;
    padding:0 20px;
    margin:20px auto ;
    overflow:hidden;
}
#menu ul{
    padding:0;
    margin:0;
}
#menu ul li {
    list-style:none;
    float:left;
    display:block;
    margin-right:10px;


}
#menu ul li a, #menu ul li a:visited{
    display:block;
    padding:0 15px;
    line-height:25px;
    text-decoration:none;
    color: #fff;
    background:#4B7399;
    border:1px solid #000;
}
#menu ul li a:hover, #menu ul li a:active{
    background:#6397c9;
    border:1px solid #000;
}

.actions {
    float:left;
    font-size:11px;
}
.share, .rename, .download, .delete{
    float:left;
}
.asset_details .share a,.asset_details .rename a,.asset_details .delete a{
    border: 1px solid #CFE9FF;
    font-size: 11px;
    margin-left: 5px;
    padding: 0 2px;
}
.asset_details .share a:hover,.asset_details .rename a:hover, .asset_details .delete a:hover{
    border:1px solid #8FCDFF;
}

.asset_details .download a {
    border: 1px solid #999999;
    font-size: 11px;
    margin-left: 5px;
    padding: 0 2px;
}

.asset_details .download a:hover {
    border:1px solid #666;
}

.asset_details .delete a{
    color:#BF0B12;
    border:1px solid #FFCFD1;
}

.asset_details .delete a:hover{
    color:#BF0B12;
    border:1px solid #FF8F93;
}

.clear{
    clear: both;
}
.play_song a {
    border: 1px solid #6BA4DB;
    font-size: 11px;
    margin-left: 25px;
    padding: 1px 2px;
    color: #4B7399 !important;
}

.play_song a:hover {
    color: #4B7399;
    border:1px solid #547FA8;
}
